@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Oswald:wght@300;400;500;700&display=swap');

:root {
    --primary-color: #ffce00;
    --secundary-color: #1a1612;
    --terciary-color: #786000;
    --light-color: #bcbcbc;
    --title-font: 'Open Sans', sans-serif;
    --text-font: 'Oswald', sans-serif;
}

*::selection {
    color: var(--primary-color);
    background: #252213;
    text-shadow: 3px 5px 20px #252213;
} 

body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    background: var(--secundary-color);
    font-family: var(--text-font);
    color: #fff;
}

/*menu*/
@media (max-width: 600px){
    .logo-github {
        display: none;
    }
}
.octo-arm:hover {
    transform-origin: 130px 106px;
}
#logo-image {
    width: 60%;
}


#header {
    z-index: 1000;
    box-sizing: border-box;
    height: 85px;
    padding: 15px 50px 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
}

#menu {
    display: flex;
    list-style: none;
    gap: 10px;
}

#menu .home-menu-item {
  color: var(--secundary-color);
}

#menu a {
    margin-top: 13px;
    font-weight: 700;
    display: block;
    padding: 15px;
    font: 500 1.1em var(--title-font);
    color: var(--secundary-color);
    text-decoration: none;
    border-radius: 10px;
}

#menu a:hover {
    filter: brightness(75%);
    transition: .4s ease;
}

#menu a:active {
    transform: translateY(5px);
}

#menu .menu-item::after {    
    content: "";
    background: none repeat scroll 0 0 transparent;
    display: block;
    height: 2px;
    margin-top: 10px;
    left: 50%;
    background: currentColor;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    border-radius: 200px;
}

#menu .menu-item:hover::after { 
    width: 100%; 
    left: 0;
  }
  
#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    #header {
      padding: 0 10px 0 10px;
      background: var(--primary-color);
    }

    #logo-image {
        width: 3em;
    }    
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 75px;
        right: 0px;
        background: var(--primary-color);
        border-radius: 5px;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 30vh);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 25px 0;
        font-size: 1em;
        margin: 0 20px;
        border-bottom: 2px solid rgba(54, 54, 54, 0.1);
        border-radius: 5px;
    }
    #btn-mobile {
        color: var(--secundary-color);
        display: flex;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        background: none;
        cursor: pointer;
        gap: 10px;
    }
    #hamburguer {
        color: var(--secundary-color);
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: '';
        position: relative;
        display: block;
        width: 20px;
        height: 2px;
        border-radius: 10px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    #menu a:hover::after { 
        width: 28%; 
        left: 0;
      }    
}
/*end menu*/

#first-section {
    background: url(images/section1.jpg) fixed;
    height: 86vh;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--light-color);
    text-align: center;
    line-height: 30px;
}

@media (max-width: 600px) {
    #first-section {
        line-height: normal;
        height: 55vh;
        font-size: 1.3em;
    }
}

#first-section h1 {
    padding-top: 160px;
    font-size: 2.7em;
    line-height: normal;
    color: var(--primary-color);
    text-transform: uppercase;
}


#first-section p {
    font-size: 1.2em;
    color: #fff;
}

@media (max-width: 958px) {
    #first-section h1 {
        padding-top: unset;
    }
    #first-section p {
        padding-bottom: 50px;
    }    
}

@media (max-width: 600px) {
    #first-section h1 {
        padding-top: 70px;
        font-size: 1.6em;
    }
    #first-section p {
        font-size: .9em;
    }
}

/* second section */

#second-section {
    padding: 30px 20px;
}

#double-div {
    display: flex;
    text-align: center;
    padding: 20px 0;
}


.left-div {
    float: left;
    max-width: 50%;
}


.left-div h2 {
    color: var(--primary-color);
}

.left-div p {
    color: #fff;
    font-size: 1.4em;
    padding-left: 40px;
    padding-right: 40px;
}

.right-div {
    float: right;
    max-width: 50%;
}

.right-div h2 {
    color: var(--primary-color);
    font-size: 2em;
}

.right-div p {
    color: #fff;
    font-size: 1.4em;
    padding-left: 40px;
    padding-right: 40px;
}

.svg-second-div {
    width: 90px;
}

@media (max-width: 600px) {
    #double-div {
        gap: 30px;
    }    
    .right-div h2, .left-div h2 {
        font-size: 1.3em;
    }
    .right-div p, .left-div p {
        padding: 10px;
        font-size: 1.2em;
    }
    .svg-second-div {
        width: 65px;
    }
    .left-div svg, .right-div svg {
        width: 40%;
    }
}

/* articles section - articles */

#third-section {
    padding: 130px 0 100px 0;
    background: url(images/section3.webp);
    text-align: center;
}

.svg-articles {
    margin-bottom: -40px;
}

.alert-section2 {
    transition: .4s;
}

.alert-section2:hover {
    animation: floating 3s infinite ease-in-out;
}

#third-section h2 {
    text-transform: uppercase;
    font: bold 2.5em 'Open Sans', sans-serif;
    color: var(--primary-color);
    margin: 70px;
}

#all-articles-home {
    display: flex;
    align-items: center;
    align-content: center;
    color: var(--secundary-color);
}

@media (max-width: 600px) {
    #all-articles-home {
        display: grid;
    }
}

.deepweb-article, .invpriv-article, .lgpd-article, .roubodados-article {
    background: #fff;
    border: none;
    padding-top: 20px;
    margin: 15px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 20px 10px 5px rgba(0, 0, 0, 0.37);
    animation: floating2 3s infinite ease-in-out;
}

.deepweb-article:hover, .invpriv-article:hover, .lgpd-article:hover, .roubodados-article:hover {
    animation: floating 20s infinite ease-in-out;
}

@media (max-width: 600px) {
    .deepweb-article, .invpriv-article, .lgpd-article, .roubodados-article {
        text-align: center;
        width: 80%;
        margin-left: 40px;
    }    
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -0px); }   
}
@keyframes floating2 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0,5px); }
    100%   { transform: translate(0, -0px); }   
}
@keyframes floating3 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0,2px); }
    100%   { transform: translate(0, -0px); }   
}


.deepweb-article {
    background: linear-gradient(120deg, #0a0a0a, #131313);
}

.invpriv-article {
    background: linear-gradient(80deg, #0A0A0A, #07232B);
}

.lgpd-article {
    background: #02A7EF;
}

.roubodados-article {
    background: #00BECE;
}

.deepweb-column2, .invpriv-column2, .lgpd-column2, .roubodados-column2 {
    background: rgb(243, 243, 243);
    padding: 20px 10px 20px 10px;
    border-radius: 0 0 5px 5px;
}

hr {
    width: 30%;
    border: 1px solid #808080;
    border-radius: 20px;
    outline: none;
}

.article-btn {
    width: 100%;
    border: none;
    outline: none;
    background: var(--primary-color);
    padding: 15px;
    border-radius: 10px;
    font: inherit;
    font-weight: bold;
}

.article-btn a {
    all: unset;
}

.article-btn:hover {
    cursor: pointer;
    filter: brightness(80%);
}

@media (max-width: 600px) {
    .article-btn {
        padding: 20px;
    }
}

/* fourth section - about us */

#fourth-section {
    display: flex;
    padding: 50px 80px 0px 80px;
    text-align: center;
}

.about-us-image-column {
    float: left;
    max-width: 50%;
}

.about-us-image-column > img{
    width:39em;
}

@media (max-width: 600px) {
    .about-us-image-column > img{
        display: none;
    }
}

.about-us-text-column {
    float: right;
    margin: 130px auto auto 40px;
    max-width: 50%;
}

@media (max-width: 600px) {
    .about-us-text-column {
        all: unset;
        padding: 20px 0 80px 0;
    }
}

@media (max-width: 600px) {
    .about-us-text-column > img{
        display: none;
    }
}

.about-us-text-column h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 4em;
    color: var(--primary-color);
}

@media (max-width: 600px) {
    .about-us-text-column h2 {
        font-size: 3em;
    }
}

.about-us-text-column > p {
    color: #fff;
    font-size: 1.4em;
    font-weight: 300;
}

.about-us-text-column > button {
    background: var(--primary-color);
    font: normal 1.1em var(--text-font);
    color: #000;
    text-decoration: none;
    padding: 13px 0 15px 0;
    width: 50%;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

@media (max-width: 600px) {
    .about-us-text-column > button {
        width: 90%;
        padding: 16px 0 17px 0;
     }
 }

.about-us-text-column button:hover {
    filter: brightness(75%);
    animation: floating2 5s infinite ease-in-out;
}

.about-us-text-column > button > a {
    color: #000;
    text-decoration: none;
}

/* fifth section - parents */

#fifth-section {
    display: flex;
    padding: 0px 80px 60px 80px;
    text-align: center;
    background: var(--primary-color);
    margin-top: -5px;
}

@media (max-width: 600px) {
    #fifth-section {
        padding: 20px 80px 90px 80px;
        display: block;
    }
}

.parents-image-column {
    float: left;
    max-width: 50%;
}

.parents-image-column > img{
    width:29em;
}

@media (max-width: 600px) {
    .parents-image-column > img{
        display: none;
    }
}

.parents-text-column {
    float: right;
    margin: 60px auto auto 40px;
    max-width: 50%;
}

@media (max-width: 600px) {
    .parents-text-column {
        all: unset;
    }
}

.parents-text-column > hr {
    border-color: #2c2300;
}

.parents-text-column h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 4em;
    color:#2c2300;
}

@media (max-width: 600px) {
    .parents-text-column h2 {
        font-size: 3em;
    }
}

.parents-text-column > p {
    color:#2c2300;
    font-size: 1.4em;
    font-weight: 400;
}

.parents-text-column > button {
    background:#2c2300;
    font: normal 1.1em var(--text-font);
    color: var(--primary-color);
    text-decoration: none;
    padding: 13px 0 15px 0;
    width: 50%;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

@media (max-width: 600px) {
    .parents-text-column > button {
        width: 90%;
        padding: 16px 0 17px 0;
     }
 }

.parents-text-column button:hover {
    filter: brightness(75%);
    animation: floating2 5s infinite ease-in-out;
}

.parents-text-column > button > a {
    color: var(--primary-color);
    text-decoration: none;
}

/* sixth section - game */

#sixth-section {
    display: flex;
    padding: 0px 80px 0 80px;
    text-align: center;
}


.games-image-column {
    float: left;
    max-width: 50%;
}

.games-image-column > img{
    width:30em;
}

@media (max-width: 600px) {
    .games-image-column > img{
        display: none;
    }
}

.games-text-column {
    float: right;
    margin: 110px auto auto 40px;
    max-width: 50%;
}

@media (max-width: 600px) {
    .games-text-column {
         all: unset;
     }
 }

.games-text-column h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 4em;
    color: var(--primary-color);
}

@media (max-width: 600px) {
    .games-text-column h2 {
         font-size: 3em;
     }
 }

.games-text-column > p {
    color: #fff;
    font-size: 1.4em;
    font-weight: 300;
}

.games-text-column > button {
    background: var(--primary-color);
    font: normal 1.1em var(--text-font);
    color: #000;
    text-decoration: none;
    padding: 13px 0 15px 0;
    width: 50%;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

@media (max-width: 600px) {
    .games-text-column > button {
        width: 90%;
        padding: 16px 0 17px 0;
     }
 }

.games-text-column > button::after {
    content: url(images/icons8-controller-32.png);
    padding: 0px 0px 0px 10px;
}
.games-text-column button:hover {
    filter: brightness(75%);
    animation: floating2 5s infinite ease-in-out;
}

.games-text-column > button > a {
    color: #000;
    text-decoration: none;
}

/* seventh section - contact */


#seventh-section {
    margin: 200px 0 50px 0;
    color: #fff;
    font: 500 1.1em var(--title-font);
}

#seventh-section > hr {
    width: 20%;
}

#seventh-section > h2 {
    text-align: center;
    font: normal 4em var(--text-font);
    color: var(--primary-color);
    margin-bottom: 0;
}

@media (max-width: 600px) {
    #seventh-section > h2 {
         font: normal 3em var(--text-font);
     }
 }

#seventh-section > p {
    text-align: center;
    font: normal .9em var(--title-font);
}

.form-span {
    color: #ff0000;
}

#form {
    margin-left: 90px;
    padding-top: 30px;
    transition: margin .5s, padding .5s;
}

@media (max-width: 600px) {
    #form {
        margin-left: 30px;
     }
 }

#form label {
    padding-bottom: 10px;
}

#form input, textarea {
    margin: 3px auto 12px auto;
    width: 90%;
    padding: 12px 7px 12px 7px;
    border: none;
    border-radius: 3px;
    outline: none;
    font: normal .9em var(--title-font);
}

#form input:focus, textarea:focus {
    border: 2px solid var(--primary-color);
    height: 25px;
}

#form textarea:focus {
    height: unset;
}

::placeholder {
    text-transform: none;
    font: normal .9em var(--title-font);
}

#name {
    text-transform: capitalize;
}

button#contact-btn {
    font-family: inherit;
    font-size: 1em;
    background: var(--primary-color);
    color: var(--secundary-color);
    padding: 1em 1.3em 1em 1.3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
   }
   
   button#contact-btn span {
    display: block;
    margin-left: 0.3em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
   }
   
   button#contact-btn svg {
    display: block;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
   }
   
   button#contact-btn:hover .svg-wrapper {
    -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
            animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   button#contact-btn:hover svg {
    -webkit-transform: translateX(4em) rotate(45deg) scale(1.1);
        -ms-transform: translateX(4em) rotate(45deg) scale(1.1);
            transform: translateX(4em) rotate(45deg) scale(1.1);
   }
   
   button#contact-btn:hover span {
    -webkit-transform: translateX(10em);
        -ms-transform: translateX(10em);
            transform: translateX(10em);
   }
   
   button#contact-btn:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
   }
   
   @-webkit-keyframes fly-1 {
    from {
     -webkit-transform: translateY(0.1em);
             transform: translateY(0.1em);
    }
   
    to {
     -webkit-transform: translateY(-0.1em);
             transform: translateY(-0.1em);
    }
   }
   
   @keyframes fly-1 {
    from {
     -webkit-transform: translateY(0.1em);
             transform: translateY(0.1em);
    }
   
    to {
     -webkit-transform: translateY(-0.1em);
             transform: translateY(-0.1em);
    }
   }   

#contact-btn:hover {
    filter: brightness(75%);
}

/* about us page */

#about-section1 {
    background: url(images/about-us-section1.webp) no-repeat;
    background-size: cover;
    height: 79vh;
    padding: 20px;
    font-weight: bold;
    color: var(--light-color);
    text-align: center;
    line-height: 30px;
}

@media (max-width: 600px) {
    #about-section1 {
        line-height: normal;
        font-size: 1.3em;
    }
}

#about-section1 h1 {
    padding-top: 180px;
    font-size: 5em;
    color: var(--primary-color);
    text-transform: uppercase;
}

@media (max-width: 600px) {
    #about-section1 h1 {
        padding-top: 130px;
        font-size: 3em;
    }
}

#about-section2 {
    display: flex;
    margin: 50px auto;
    padding: 50px;
}

.about-section2-text-left {
    float: left;
    width: 50%;
    text-align: center;
}

.about-section2-text-left h2 {
    color: var(--primary-color);
    font-size: 1.8em;
}

.about-section2-text-left p {
    color: #fff;
    font-size: 1.3em;
    margin: auto 20px;
}

.about-section2-image-right {
    float: right;
    width: 50%;
}

.about-section2-image-right > img {
    margin-left: 20px;
    border-radius: 20px;
    max-width: 550px;
}

@media (max-width: 600px) {
    .about-section2-text-left {
        all: unset;
        text-align: center;
    }       
    .about-section2-image-right {
        all: unset;
    }    
    .about-section2-image-right > img {
        display: none;
    }
}

#about-section3 {
    background: url(images/about-us-section3.webp) no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
}

#about-section3 h2 {
    font: bold 2em var(--title-font);
    color: var(--primary-color);
}

#about-section3 p {
    font: normal 1.3em var(--text-font);
}
@media (max-width: 600px) {
    #about-section3 h2 {
        font: bold 1.4em var(--title-font);
    }
    #about-section3 p {
        font: normal 1em var(--title-font);
        margin: 10px 10px 20px 10px;
    }
}

#about-section3 button {
    background: var(--primary-color);
    color: var(--secundary-color);
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 12px;
    width: 200px;
    font: normal 1.2em var(--text-font);
    transition: .4s;
}

#about-section3 button:hover {
    filter: brightness(75%);
}

#about-section3 button:active {
    transform: translateY(3px);
}

/* parents page */

#parents-section1 {
    background: url(images/parents-section1.webp) no-repeat;
    background-size: cover;
    height: 79vh;
    padding: 20px;
    font-weight: bold;
    color: var(--light-color);
    text-align: center;
    line-height: 30px;
}

#parents-section1 h1 {
    padding-top: 180px;
    font-size: 5em;
    color: var(--primary-color);
    text-transform: uppercase;
}

@media (max-width: 600px) {
    #parents-section1 h1 {
        line-height: normal;
        font-size: 3.5em;
        padding-top: 60px;
    }
}

.parents-section2-title {
    text-align: center;
    margin: 50px 0;
    padding: 20px;
}

.parents-section2-title hr {
    width: 20%;
}

.parents-section2-title h2 {
    margin: 5px auto 15px auto;
    font: normal 2.3em var(--title-font);
    color: var(--primary-color);
}

#parents-section3 {
    text-align: center;
}

.blocks {
    padding: 20px;
}

@media (max-width: 600px) {
    .blocks {
        padding: 10px;
        margin: 0;
    }
}

.parents-blocks1 {
    display: flex;
    margin: 50px auto 5px auto;
    gap: 80px;
    border-bottom: 2px solid var(--primary-color);
}

@media (max-width: 600px) {
    .parents-blocks1 {
        gap: 30px;
        margin: 20px;
        display: block;
        align-items: center;
        align-content: center;
    }
}

.parents-blocks1 h3 {
    font: normal 2em var(--text-font);
    color: var(--primary-color);
    margin-bottom: 5px;
}

.parents-blocks1 p {
    font: normal 1.2em var(--title-font);
}


.verification-block-left {
    float: left;
    width: 33.3%;
}

.control-block-center{
    width: 33.3%;
}

.protection-block-right{
    float: right;
    width: 33.3%;
}

@media (max-width: 600px) {
    .verification-block-left, .control-block-center, .protection-block-right {
        all: unset;
        margin: 20px;
    }
}

.parents-blocks2 {
    display: flex;
    margin: 20px;
    gap: 80px;
}

@media (max-width: 600px) {
    .parents-blocks2 {
        gap: 30px;
        margin: 20px;
        display: block;
        align-items: center;
        align-content: center;
    }
}

.parents-blocks2 h3 {
    font: normal 2em var(--text-font);
    color: var(--primary-color);
    margin-bottom: 5px;
}

.parents-blocks2 p {
    font: normal 1.2em var(--title-font);
}

.knowledge-block-left {
    float: left;
    width: 33.3%;
}

.vpn-block-center{
    width: 33.3%;
}

.antivirus-block-right{
    float: right;
    width: 33.3%;
}

@media (max-width: 600px) {
    .knowledge-block-left, .vpn-block-center, .antivirus-block-right {
        all: unset;
        margin: 20px;
    }
}

/* games page */

#games-section1 {
    background: url(images/games-section1.webp) no-repeat;
    background-size: cover;
    height: 79vh;
    padding: 20px;
    font-weight: bold;
    color: var(--light-color);
    text-align: center;
    line-height: 30px;
}

@media (max-width: 600px) {
    #games-section1 {
        line-height: normal;
        font-size: 1.3em;
    }
}

#games-section1 h1 {
    padding-top: 180px;
    font-size: 5em;
    color: var(--primary-color);
    text-transform: uppercase;
}

@media (max-width: 600px) {
    #games-section1 h1 {
        padding-top: 130px;
        font-size: 3em;
    }
}

#games-section2 {
    background: var(--primary-color);
    color: var(--secundary-color);
    font: 500 1.3em var(--text-font);
    text-align: center;
    height: 60px;
    margin: 30px 10px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    #games-section2 {
        font-size: 1em;
    }
}

#games-section2 h2:before {
    content: url(images/icons8-danger-32.png);
    position: relative;
    top: 5px;
    margin-right: 10px;
}
#games-section2 h2:after {
    content: url(images/icons8-danger-32.png);
    position: relative;
    top: 5px;
    margin-left: 10px;
}

/* articles page */

.articles-section1-title {
    font: bold 1.6em var(--text-font);
    color: var(--primary-color);
    padding: 20px;
}

.articles-blocks {
    display: flex;
    align-items: center;
    align-content: center;
    color: var(--secundary-color);
}

@media (max-width: 600px) {
    .articles-blocks {
        display: grid;
    }
}

.articles-deepweb-article, .articles-invpriv-article, .articles-lgpd-article, .articles-roubodados-article {
    background: #131313;
    border: 2px solid var(--primary-color);
    padding-top: 20px;
    border-top: 0;
    margin: 15px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 20px 10px 5px rgba(0, 0, 0, 0.37);
}

.articles-deepweb-article:hover, .articles-invpriv-article:hover, .articles-lgpd-article:hover, .articles-roubodados-article:hover {
    filter: brightness(75%);
    transition: .4s;
}

@media (max-width: 600px) {
    .articles-deepweb-article, .articles-invpriv-article, .articles-lgpd-article, .articles-roubodados-article {
        text-align: center;
        width: 80%;
        margin-left: 40px;
    }    
}

.articles-deepweb-article img, .articles-invpriv-article img, .articles-lgpd-article img, .articles-roubodados-article img {
    border-radius: 4px;
}

.articles-deepweb-article h1, .articles-invpriv-article h1, .articles-lgpd-article h1, .articles-roubodados-article h1 {
    color: var(--primary-color);
    text-align: center;
}
.articles-deepweb-article p, .articles-invpriv-article p, .articles-lgpd-article p, .articles-roubodados-article p {
    padding: 20px;
}

.articles-deepweb-column1, .articles-invpriv-column1, .articles-lgpd-column1, .articles-roubodados-column1  {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 1px 1px;
}

.articles-deepweb-column2, .articles-invpriv-column2, .articles-lgpd-column2, .articles-roubodados-column2 {
    background: #131313;
    color: #fff;
    width: 100%;
    padding: 20px 0px 20px -1px;
    border-radius: 0 0 5px 5px;
}



.article-image {
    border-radius: 3px;
}

hr {
    width: 30%;
    border: 1px solid #808080;
    border-radius: 20px;
    outline: none;
}

.article-page-btn {
    width: 100%;
    border: none;
    outline: none;
    background: var(--primary-color);
    padding: 15px;
    margin-top: 10px;
    border-radius: 1px 1px 5px 5px;
    font: inherit;
    font-weight: bold;
    transition: .4s;
}

.article-page-btn:hover {
    cursor: pointer;
    filter: brightness(75%);
}

.article-page-btn a {
    all: unset;
}

@media (max-width: 600px) {
    .article-page-btn {
        padding: 20px;
    }
}

/* all articles */

.all-articles {

}

/* deep web page */

#deepweb-section1 {
    background: url(/images/bg-deepweb-section1.webp);
    padding: 120px 0;
    text-align: center;
}

#deepweb-section1 h1 {
    font: bold 4.5em var(--text-font);
    color: var(--primary-color);
    margin: 20px 0;
}

#deepweb-section1 p {
    margin: 20px 0;
    font: normal 1.3em var(--title-font);
}

#deepweb-articles h1 {
    font: bold 1.5em var(--title-font);
    color: var(--primary-color);
}

#deepweb-articles hr {
    margin: unset;
}

/* thanks page */

.thanks-section {
    color: var(--secundary-color);
    text-align: center;
    margin: 110px auto 20px auto;
}

@media (max-width:600px) {
    .thanks-section {
        margin: 40px auto 10px auto;
    }
}

.thanks-title {
    font-size: 3em;
    color: var(--light-color);
    margin: 30px auto 10px auto;
}
.thanks-text {
    margin: 0;
    font-size: 1.6em;
    color: var(--light-color);
  }

.thanks-btn {
    font: inherit;
    font-weight: bold;
    background: linear-gradient(180deg,#ffce00, #a38300);
    color: var(--secundary-color);
    text-align: center;
    margin: 20px;
    width: 20%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

@media (max-width: 600px) {
    .thanks-title {
        font-size: 2.1em;
    }
    .thanks-text {
        font-size: 1.3em;
      }    
    .thanks-btn {
        width: 60%;
    }
}

.thanks-btn:hover {
    filter: brightness(60%);
  }

.thanks-icon {
  animation: flash 3s infinite cubic-bezier(.8,2,1,1);  
}
@keyframes flash {
  50% {
    opacity: 70%;
  }
}

/* footer */
#footer {
    display: flex;
    border-top: 3px solid var(--main-color);
    background: linear-gradient(to bottom, #1a1612, #131313);
    align-items: center;
    justify-content: center;
  }
  
  .copyright {
    padding: 25px;
    text-align: center;
    font: normal 1em var(--title-font);
    color: var(--light-color);
  }

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 10px; 
    z-index: 999;
    width: 65px;
    background: var(--secundary-color);
    border: none; 
    outline: none; 
    cursor: pointer; 
    border-radius: 200px;
    opacity: 100%;
    transition: opacity .5s;
    animation: floating3 3s infinite ease-in-out  
}

  #myBtn:hover {
    opacity: 75%;
  }

  #myBtn:active {
    transform: translateY(5px);
  }

/* scrollbar style */

::-webkit-scrollbar {
      background: var(--secundary-color);
  }

  ::-webkit-scrollbar-track {
      border-radius: 200px;
      background: #131313;
  }

  ::-webkit-scrollbar-thumb {
      background: #696969;
      border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: #6d684f;
  }
  ::-webkit-scrollbar-thumb:active {
    background: var(--primary-color);
    }

    /* scroll-bottom first section */
.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 160px;
}

@media (max-width: 600px) {
    .mouse_scroll {
        margin-top: 85px;
    }
}

.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    margin: 0 0 3px 4px;
    
    width: 16px;
    height: 16px;
    }


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 35px;
  width: 20px;
  border-radius: 14px;
  transform: none;
  border: 2px solid var(--primary-color);
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: var(--primary-color);
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid var(--primary-color);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}